<h1>TG Data</h1>
<p>
  This is the home page for the
  <a href="http://tgdata.com/">Data Reporting & Management Site</a>
  Just starting.
</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>

